li.footer-link{
    padding:10px;
    font-size:1rem;
}

p.footer-header{
    font-size:1.2rem;
    font-weight:bold;
}

.footer-info1{
    float:right;
    background-color:whitesmoke;
}
.footer-info2{
    float:right;
   
}